# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.suo
*.user
*.db
*.sdf
/Release
/Debug
/.vs
/nmrb_test/obj
/nmrb_test/bin
/nmrb/app.rc
/nmrb/Debug
/nmrb/Release
/nmrb/app.ico
